html, body{
  user-select: none;
  background-color:transparent!important;
}

.vehreports-container {
  display: none;
}

.vehreports-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.725rem;
    transition: all 0.5s ease; /* Can Be Removed*/
    height: 100%;
    flex-direction: column;
    padding-top: 12vw !important;
}

.product-card-cart, .product-card-cart > * {
  transition: all 0.6s ease;
}

.product-card-cart {
  display: flex;
  border-radius: 0.5vw;
  box-shadow: 0 7px 25px -10px rgba(0,0,0,0.33);
  background-color: #f3f3f3;
  width: 30vw;
}

.product-card-cart-link {
  padding: 0.525vw;
}

.product-card-cart-link img {
  width: 9.459vw;
  height: 11.298vw;
  object-fit: cover;
  object-position: center 32%;
  border-radius: 0.5vw;
  box-shadow: 0 7px 25px -10px rgba(0,0,0,0.33);
}

.vehreports-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 0.525vw;
  box-shadow: 0 7px 25px -10px rgba(0,0,0,0.33);
}

.vehreports-card-content > * {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500!important;
    color: #555555;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    row-gap: 0.5rem;
    align-items: center;
    padding: 0.5rem!important;
}

@media (max-width: 440px) {
    
  .vehreports-card-content > * {
    font-size: 17px;
  }
  
  .product-card-cart {
     flex-direction: column;
     width: 100%;
    height: 100%;
  }
  
  .product-card-cart-link img {
     width: 100%;
  }
  
}

.logo-container {
  float: left;
  margin: 1vw;
}

.report-title{
  font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
}

.badge {
  min-width: 5vw;
}